*{
	padding: 0;
	margin: 0;
}
body{
	background: linear-gradient(180deg, #ff0060 0, #ff6975);
	background-repeat: repeat-x;
	height: 2500px;
}
.met{
font-family: sans-serif;
text-align: center;
/*position: relative;*/
/*right: 0;*/
/*left: 0;*/
/*top: 15%;*/
line-height: 25px;
color: #fff;
}
.met h1{
	margin-top: 60px;
}
.met h3{
font-family: sans-serif;
font-size: 20px;
position: relative;
right: 0;
left: 0;
top: 20px;
}
.font{
	display: inline-flex;
	gap: 20px;
	font-size: 20px;
	margin-top: 30px;
}
a{
	color: #fff;
}
img{
	max-height: 250px;
	max-width: fit-content;
	border-radius: 20px;
}
.about{
	background: #fff;
	padding: 0 5%;
	margin: 200px;
	height: 300px;
}
.amet{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin: 20px;
}
.about h2{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
}
.u{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.container{
	display: flex;
	justify-content: space-between;
	min-height: 400px;
	margin-top: 60px;
	/*background-color: #fff;*/
}
.work{
	background-color: #fff;
	height: 300px;
	padding: 0 5%;
	font-family: sans-serif;
	font-size: 15px;
}
.att{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	right: 100px;
	background-color: #fff;
	height: 200px;
	padding: 0 5px;
	font-family: sans-serif;
	margin: 100px;
	width: 700px;
}
.edu h3{
     position: relative;
     bottom: 40px;
     font-weight: 100;
}
.edu{
	font-family: sans-serif;
	font-weight: 100;
	margin: 10px;
	line-height: 30px;
	font-size: 15px;
}
.rov{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	right: 100px;
	background-color: #fff;
	height: 200px;
	padding: 0 5px;
	font-family: sans-serif;
    margin: 100px;
    width: 700px;
}
/*border-radius: 0 0 0 260px;*/
input{
	 width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    background-color: #f8f8f8;
    border: 2px solid #eee;
 /* background-image: url('solid.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;*/
}
textarea{
	 width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  text-transform: uppercase;
}
.fire{
	background-color: #fff;
	width: 700px;
	height: 350px;
	font-size: 40px;
	padding: 0 5px;
}
button hover{
	background: whitesmoke;
	color: black;
}
